<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">Order Summary</div>
<div class="p-4">
    <p class="font-italic mb-4">Shipping Costs will be added depending on the choices made during checkout</p>
    <ul *ngIf="(basketTotal$)|async as basketTotals" class="list-unstyled mb-4">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Order SubTotal</strong>
            <strong>{{basketTotals.subTotal |currency: 'AED'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping & Handling</strong>
            <strong>{{basketTotals.shipping |currency: 'AED'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{basketTotals.total |currency: 'AED'}}</strong>
        </li>
    </ul>
</div>