<div class="container mt-4">
    <div *ngIf="order" class="row">
        <div class="col-8">
            <app-basket-summary [isOrderById]="true"
                                [isBasket]="false"
                                [items]="order.orderItems"></app-basket-summary>
        </div>
        <div class="col-4">
            <app-order-totals   [shipping]="order.shippingPrice" 
                                [subTotal]="order.subTotal" 
                                [total]="order.total"></app-order-totals>
        </div>
    </div>
    
</div>
